<div class="container" >
    
    <!--<h3 data-bind="visible:shell.lang() == 'he'">4XFF - פרוייקט WWFF ישראלי</h3>
    <h3 style="direction:ltr" data-bind="visible:shell.lang() == 'en'">4XFF - Israeli WWFF Program</h3>-->
    <p></p>
    <div class="panel-group acc-v1 margin-bottom-40" id="accordion">

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#background">
                        רקע
                    </a>
                </h4>
            </div>
            <div id="background" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        מטרת התוכנית היא להסב את תשומת הלב לחשיבות השמירה על הטבע - החי, הצומח והדומם.<br />
                        ברוח זו מקימים חובבי רדיו את התחנות שלהם ומפעילים מתוך פארקים, גנים לאומיים, שמורות טבע ואיזורים מוגנים.<br />
                        התוכנית היא בין לאומית, איננה מסחרית, ומנוהלת ע"י רכזים של מספר רב של תוכניות חי וצומח לאומיות.<br />
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#background_en">
                        About The Program
                    </a>
                </h4>
            </div>
            <div id="background_en" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The International Award program “World Castles Award – WCA” devoted to work on the air from castles, fortresses and other fortification works. It’s founded on January, 14th, 2009 by group of Russian radiohams, members of RZ1CWC Radioclub under the aegis of the International Organization “Castles On The Air – COTA”.
                    </p>
                    <p>
                        The program goal is consolidation of radiohams from different countries for activation and popularization of historical objects – castles, fortresses etc all over the world, learning and maintenance of the historical Heritage in our countries including monuments and architectural constructions relating to fortification.
                    </p>
                    <p>
                        World Castles Award program includes 11 diplomas, 1 award plate and E-Awards series for QSOs/SWLs with radiostations working from world castles, fortresses etc all over the world.
                    </p>
                    <p>
                        From the <a href="http://wcagroup.org/" target="_blank" style="text-decoration:underline">program website</a>.
                    </p>
                </div>
            </div>
        </div>


        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i0">
                        חוקים
                    </a>
                </h4>
            </div>
            <div id="i0" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="text-center">חוקי התוכנית</h3>
                        <div class="row-fluid">
                            <u ,l>
                                <li>
                                    אתרי מיגון קבע כגון טירות, מבצרים, מצודות, אזורים מבוצרים (כולל חלקים שלהם כגון שער, קירות, מגדלים וכו') בין עתיקים ובין משוחזרים תקפים לצורך הפעלה בתוכנית. <br />

                                </li>

                                <li>
                                    על ההפעלות להתבצע במרחק של לא יותר מ 1000 מטר מהאתר.<br />
                                </li>
                                <li>
                                    על מנת שהפעלה תהיה תקפה לצורך קבלת תעודת "מפעיל" על המפעיל לבצע לפחות 50 קשרים מאותו אתר.
                                </li>
                                <li>
                                    התדרים הבאים הם התדרים המומלצים לביצוע הפעלות בתוכנית:<br />
                                    CW : 3.531; 7.031; 10.121; 14.031; 18.081; 21.031; 24.911; 28.031<br />
                                    SSB : 3.731; 7.131; 14.251; 18.131; 21.251; 24.951; 28.551
                                </li>

                                <li>
                                    לכל אתר יש מספר מזהה שמורכב מקידומת המדינה בה הוא נמצא ומספר רץ. למשל: DL-00001, I-00002, LY-00003<br />
                                    על מנת לפשט את התקשורת, מפעילים רשאים להשמיט אפסים מקדימים.
                                </li>
                                <li>
                                    לציידים, קשרים חוזרים לא יחשבו. כל אתר תקף פעם אחת בלבד ללא תלות בתחום או בסוג האפנון
                                </li>

                                <li>
                                    כדי לבקש את הפרס יש לשלוח מייל ל:<br />
                                    rn1cw@rambler.ru or cqrn1cw@gmail.com
                                </li>
                                <li>
                                    הפרסים הבסיסיים למפעילים ולציידים הם ללא תשלום וישלחו בדוא"ל.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i1">
                        Rules
                    </a>
                </h4>
            </div>
            <div id="i1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <h3 class="text-center">Summarized Program Rules</h3>
                            <div class="row-fluid text-left">
                                <ul>
                                    <li>
                                        Contacts with objects of permanent fortification such as castles, fortresses, forts, fortified areas (including their parts like gate, walls, towers etc) having obviously expressed signs of preservation or a new restored are valid for WCA.<br />
                                    </li>
                                   
                                    <li>
                                        Object activation has to take place on a distance no more than 1000 meters (1km) from the object.<br />
                                    </li>
                                    <li>
                                         For WCA activators any activated object is valid for all awards of WCA series (WCA-50, WCA-100 etc) on conditions that made not less than 50 QSO.<br />
                                    </li>
                                    <li>
                                        Recommended frequencies for work on the air during expeditions on fortresses and castles.<br />
                                        CW : 3.531; 7.031; 10.121; 14.031; 18.081; 21.031; 24.911; 28.031<br />
                                        SSB : 3.731; 7.131; 14.251; 18.131; 21.251; 24.951; 28.551
                                    </li>
                                    
                                    <li>
                                         The new system of WCA identification numbers is constituted since November, 1st, 2009.<br />
                                        All objects (castles, fortresses, forts etc.) are identified by an alphanumeric designation. Letters indicates the country according to prefixes, for example: DL – (Germany), I – (Italy), LY – (Lithuania) etc., and next digits indicates the serial number of object. For example: DL-00001, I-00002, LY-00003 etc<br />
                                        It is permissible not to transmit superfluous zero during QSO to simplify transmission and receiving of identification numbers.<br />
                                    </li>
                                    <li>
                                         Repeated QSO are not valid. The object is valid only once regardless of bands and any kind of mode.
                                    </li>
                                    
                                    <li>
                                        The application should sent to award manager.<br />
                                        By e-mail:<br />
                                        rn1cw@rambler.ru or cqrn1cw@gmail.com<br />
                                    </li>
                                    <li>
                                         Award certificate “World Castles Activator Award – WCAA” and WCA – Hunter are free of charge. You can obtain it in electronic form – JPG file completely ready for printing in A4 format (297×240) will send by e-mail.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i2">
                        פרסים
                    </a>
                </h4>
            </div>
            <div id="i2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        הפרסים יינתנו בשתי קטגוריות, "מפעילים" ו "ציידים".<br />
                        "מפעילים" הם חובבים שמפעילים את הציוד שלהם מתוך שמורות הטבע והפארקים שמשתתפים בתוכנית.<br />
                        "ציידים" הם חובבים שמבצעים קשרים או מתעדים קשרים (מאזינים) עם "מפעילים".<br />
                        כל מי שזכאי לפרס, יוכל לקבל קובץ אלקטרוני, באיכות גבוהה מאוד, להדפסה עצמית ובחינם!<br />
                        את בקשת התעודה יש להגיש דרך <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">אתר התוכנית</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i3">
                        Awards
                    </a>
                </h4>
            </div>
            <div id="i3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The Awards are available to 'Activators' and 'Hunters'.<br />
                        'Activators' are those amateurs who operate portable from within designated NR or Parks in Israel.<br />
                        'Hunters' are those amateurs who make contact or log contact (SWL's) with 'Activators'.<br />
                        All Awards are free of charge for a self printing, super high quality PNG file.<br />
                        Certificate requests should be sent through the <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">program website</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i4">
                        רפרנסים
                    </a>
                </h4>
            </div>
            <div id="i4" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="row" style="direction:ltr; margin-bottom:20px">
                        <div class="col-md-4 pull-right" style="max-width: 350px; margin-top:8px;">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="  search-query form-control" placeholder="Search" data-bind="value: searchInput, valueUpdate: 'afterkeydown'">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-grey margin-bottom-40">
                                <div class="panel-heading">
                                    <span class="panel-title text-right">רשימת אתרי 4XFF</span>
                                    <!--<span class="panel-title pull-left">Echolink</span>-->
                                </div>
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: right">מזהה</th>
                                            <th style="text-align: right">שם</th>
                                            <th style="text-align: right">איזור</th>
                                            <th style="text-align: right">קישור</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>4XFF-0001</td>
                                            <td>חוף אכזיב</td>
                                            <td>
                                                חוף הגליל ועמק עכו
                                            </td>
                                            <td><a href="http://www.parks.org.il/ParksAndReserves/achziv/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/row-fluid-->


                </div>
            </div>
        </div>
        <!--<div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i5">
                        References
                    </a>
                </h4>
            </div>
            <div id="i5" class="panel-collapse collapse">
                <div class="panel-body">
                    
                </div>
            </div>
        </div>-->

        
    </div>
    <!--/row-fluid-->

    <div class="row hidden-sm hidden-xs" style="margin-top:20px;direction:ltr">
        <div class="col-md-6 text-center">
            <img src="assets/img/4xff.png" width="400" />
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/wwff_logo.png" width="400" />
        </div>


    </div>
</div>


