<div class="container">

    <!--<h3 data-bind="visible:shell.lang() == 'he'">4XFF - פרוייקט WWFF ישראלי</h3>
    <h3 style="direction:ltr" data-bind="visible:shell.lang() == 'en'">4XFF - Israeli WWFF Program</h3>-->
    <p></p>
    <div class="panel-group acc-v1 margin-bottom-40" id="accordion">
        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#background">
                        רקע
                    </a>
                </h4>
            </div>
            <div id="background" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>תוכנית "פרס טירות העולם - WCA" היא תוכנית פרסים בינלאומית המוקדש להפעלת תחנות חובבי רדיו מטירות, מבצרים ואתרים עתיקים אחרים. התוכנית נוסדה ב 14 בינואר 2009 על ידי קבוצת חובבי רדיו מרוסיה, חברי מועדון RZ1CWC תחת חסותו של הארגון הבינלאומי "COTA – Castle On The Air".</p>
                        <p>מטרת התוכנית היא איחוד חובבי רדיו ממדינות שונות להפעלת מאתרים היסטוריים - טירות ומבצרים בכל רחבי העולם, להעלות על סדר היום את התחזוקה של מבנים היסטוריים אלה וללמוד על המורשת שקשורה בהם.</p>
                        <p>"פרס טירות העולם" כולל 11 תעודות וצלחת פרס עבור חובבי רדיו ומאזינים על קשר עם אתרים שמשתתפים בתוכנית.</p>
                        <a href="https://he.wikipedia.org/wiki/%D7%90%D7%AA%D7%A8%D7%99%D7%9D_%D7%A6%D7%9C%D7%91%D7%A0%D7%99%D7%99%D7%9D_%D7%91%D7%90%D7%A8%D7%A5_%D7%99%D7%A9%D7%A8%D7%90%D7%9C" target="_blank">אתרים צלבניים בארץ ישראל - ויקיפדיה</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#background_en">
                        About The Program
                    </a>
                </h4>
            </div>
            <div id="background_en" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The International Award program “World Castles Award – WCA” devoted to work on the air from castles, fortresses and other fortification works. It’s founded on January, 14th, 2009 by group of Russian radiohams, members of RZ1CWC Radioclub under the aegis of the International Organization “Castles On The Air – COTA”.
                    </p>
                    <p>
                        The program goal is consolidation of radiohams from different countries for activation and popularization of historical objects – castles, fortresses etc all over the world, learning and maintenance of the historical Heritage in our countries including monuments and architectural constructions relating to fortification.
                    </p>
                    <p>
                        World Castles Award program includes 11 diplomas, 1 award plate and E-Awards series for QSOs/SWLs with radiostations working from world castles, fortresses etc all over the world.
                    </p>
                    <p>
                        From the <a href="http://wcagroup.org/" target="_blank" style="text-decoration:underline">program website</a>.
                    </p>
                    <a href="https://en.wikipedia.org/wiki/List_of_Crusader_castles#Israel" target="_blank">List of Crusader castles - Israel (Wikipedia)</a>

                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i0">
                        חוקים
                    </a>
                </h4>
            </div>
            <div id="i0" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="text-center">עיקרי חוקי התוכנית</h3>
                        <div class="row-fluid">
                            <ul>
                                <li>
                                    אתרים שהם מבני קבע כגון טירות, מבצרים, מצודות, אזורים מבוצרים (כולל חלקים שלהם כגון שער, קירות, מגדלים וכו') בין עתיקים ובין משוחזרים תקפים לצורך הפעלה בתוכנית. <br />
                                </li>
                                <li>
                                    על ההפעלות להתבצע במרחק של לא יותר מ 1000 מטר מהאתר.<br />
                                </li>
                                <li>
                                    על מנת שהפעלה תהיה תקפה לצורך קבלת תעודת "מפעיל" על המפעיל לבצע לפחות 50 קשרים מאותו אתר.
                                </li>
                                <li>
                                    התדרים הבאים הם התדרים המומלצים לביצוע הפעלות בתוכנית:<br />
                                    CW : 3.531; 7.031; 10.121; 14.031; 18.081; 21.031; 24.911; 28.031<br />
                                    SSB : 3.731; 7.131; 14.251; 18.131; 21.251; 24.951; 28.551
                                </li>

                                <li>
                                    לכל אתר יש מספר מזהה שמורכב מקידומת המדינה בה הוא נמצא ומספר רץ. למשל: DL-00001, I-00002, LY-00003<br />
                                    על מנת לפשט את התקשורת, מפעילים רשאים להשמיט אפסים מקדימים.
                                </li>
                                <li>
                                    לציידים, קשרים חוזרים לא יחשבו. כל אתר תקף פעם אחת בלבד ללא תלות בתחום או בסוג האפנון
                                </li>
                                <li>
                                    כדי לבקש את הפרס יש לשלוח מייל ל:<br />
                                    <a href="mailto:rn1cw@rambler.ru" target="_blank" style="text-decoration:underline">rn1cw@rambler.ru</a> או <a href="mailto:cqrn1cw@gmail.com" target="_blank" style="text-decoration:underline">cqrn1cw@gmail.com</a>
                                </li>
                                <li>
                                    הפרסים הבסיסיים למפעילים ולציידים הם ללא תשלום וישלחו בדוא"ל.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i1">
                        Rules
                    </a>
                </h4>
            </div>
            <div id="i1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="text-center">Summarized Program Rules</h3>
                            <div class="row-fluid text-left">
                                <ul>
                                    <li>
                                        Contacts with objects of permanent fortification such as castles, fortresses, forts, fortified areas (including their parts like gate, walls, towers etc) having obviously expressed signs of preservation or a new restored are valid for WCA.<br />
                                    </li>
                                    <li>
                                        Object activation has to take place on a distance no more than 1000 meters (1km) from the object.<br />
                                    </li>
                                    <li>
                                        For WCA activators any activated object is valid for all awards of WCA series (WCA-50, WCA-100 etc) on conditions that made not less than 50 QSO.<br />
                                    </li>
                                    <li>
                                        Recommended frequencies for work on the air during expeditions on fortresses and castles.<br />
                                        CW : 3.531; 7.031; 10.121; 14.031; 18.081; 21.031; 24.911; 28.031<br />
                                        SSB : 3.731; 7.131; 14.251; 18.131; 21.251; 24.951; 28.551
                                    </li>

                                    <li>
                                        The new system of WCA identification numbers is constituted since November, 1st, 2009.<br />
                                        All objects (castles, fortresses, forts etc.) are identified by an alphanumeric designation. Letters indicates the country according to prefixes, for example: DL – (Germany), I – (Italy), LY – (Lithuania) etc., and next digits indicates the serial number of object. For example: DL-00001, I-00002, LY-00003 etc<br />
                                        It is permissible not to transmit superfluous zero during QSO to simplify transmission and receiving of identification numbers.<br />
                                    </li>
                                    <li>
                                        Repeated QSO are not valid. The object is valid only once regardless of bands and any kind of mode.
                                    </li>

                                    <li>
                                        The application should sent to award manager.<br />
                                        By e-mail:<br />
                                        <a href="mailto:rn1cw@rambler.ru" target="_blank" style="text-decoration:underline">rn1cw@rambler.ru</a> or <a href="mailto:cqrn1cw@gmail.com" target="_blank" style="text-decoration:underline">cqrn1cw@gmail.com</a>
                                    </li>
                                    <li>
                                        Award certificate “World Castles Activator Award – WCAA” and WCA – Hunter are free of charge. You can obtain it in electronic form – JPG file completely ready for printing in A4 format (297×240) will send by e-mail.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i2">
                        פרסים
                    </a>
                </h4>
            </div>
            <div id="i2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        הפרסים יינתנו בשתי קטגוריות, "מפעילים" ו "ציידים".<br />
                        "מפעילים" הם חובבים שמפעילים את הציוד שלהם מהאתרים השמתתפים בתוכנית.<br />
                        "ציידים" הם חובבים שמבצעים קשרים או מתעדים קשרים (מאזינים) עם "מפעילים".<br />
                        כל מי שזכאי לפרס בסיסי, יוכל לקבל קובץ אלקטרוני, באיכות גבוהה, להדפסה עצמית ובחינם!<br />
                        את בקשת התעודה יש לשלוח במייל לאנדרו בכתובת <a href="mailto:rn1cw@rambler.ru" target="_blank" style="text-decoration:underline">rn1cw@rambler.ru</a> או <a href="mailto:cqrn1cw@gmail.com" target="_blank" style="text-decoration:underline">cqrn1cw@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i3">
                        Awards
                    </a>
                </h4>
            </div>
            <div id="i3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The Awards are available to 'Activators' and 'Hunters'.<br />
                        'Activators' are those amateurs who operate portable from the sites participating in the program.<br />
                        'Hunters' are those amateurs who make contact or log contact (SWL's) with 'Activators'.<br />
                        Basic Awards are free of charge for a self printing, high quality PNG file.<br />
                        Certificate requests should be sent to Andrew: <a href="mailto:rn1cw@rambler.ru" target="_blank" style="text-decoration:underline">rn1cw@rambler.ru</a> or <a href="mailto:cqrn1cw@gmail.com" target="_blank" style="text-decoration:underline">cqrn1cw@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i4">
                        Sites
                    </a>
                </h4>
            </div>
            <div id="i4" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row" style="direction:ltr; margin-bottom:20px">
                        <div class="col-md-4 pull-right" style="max-width: 350px; margin-top:8px;">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="  search-query form-control" placeholder="Search" data-bind="value: searchInput, valueUpdate: 'afterkeydown'">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-grey margin-bottom-40">
                                <div class="panel-heading">
                                    <span class="panel-title text-right">4XCA Sites</span>
                                    <!--<span class="panel-title pull-left">Echolink</span>-->
                                </div>
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left">Id</th>
                                            <th style="text-align: left">Name</th>
                                            <th style="text-align: left">Link</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>4X-00001</td>
                                            <td>Acre</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Acre,_Israel" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00002</td>
                                            <td>Arsuf</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Arsuf" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00003</td>
                                            <td>Belveer</td>
                                            <td><a href="https://he.wikipedia.org/wiki/%D7%94%D7%A7%D7%A1%D7%98%D7%9C" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00004</td>
                                            <td>Belvoir Fortress</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Belvoir_Fortress" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00005</td>
                                            <td>Beth Gibelin</td>
                                            <td><a href="https://he.wikipedia.org/wiki/%D7%91%D7%99%D7%AA_%D7%92%D7%95%D7%91%D7%A8%D7%99%D7%9F_(%D7%A2%D7%99%D7%A8_%D7%A7%D7%93%D7%95%D7%9E%D7%94)" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00006</td>
                                            <td>Beit She'an</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Beit_She%27an" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00007</td>
                                            <td>Burgata</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Burgata" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00008</td>
                                            <td>Bokek Stronghold</td>
                                            <td><a href="https://he.wikipedia.org/wiki/%D7%9E%D7%A6%D7%93_%D7%91%D7%95%D7%A7%D7%A7" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00009</td>
                                            <td>Antipatris</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Antipatris" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00010</td>
                                            <td>Caesarea Maritima</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Caesarea_Maritima" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00011</td>
                                            <td>Cafarlet</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Cafarlet" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00012</td>
                                            <td>Casal des Plains</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Azor" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00013</td>
                                            <td>Castellum Regis</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Mi%27ilya" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00014</td>
                                            <td>Castle Pilgrim</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Ch%C3%A2teau_P%C3%A8lerin" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00015</td>
                                            <td>Latrun</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Latrun" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00016</td>
                                            <td>Le Destroit</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Le_Destroit" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00017</td>
                                            <td>Kal'at Al Mina</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Minat_al-Qal%27a" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00018</td>
                                            <td>Masada</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Masada" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00019</td>
                                            <td>Migdal Afek</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Migdal_Afek" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00020</td>
                                            <td>Montfort Castle</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Montfort_Castle" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00021</td>
                                            <td>Nimrod Fortress</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Nimrod_Fortress" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00022</td>
                                            <td>Qaqun</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Qaqun" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00023</td>
                                            <td>Tower of David</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Tower_of_David" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00024</td>
                                            <td>Sepphoris</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Sepphoris" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00025</td>
                                            <td>Vadum Iacob</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Battle_of_Jacob%27s_Ford" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00026</td>
                                            <td>Yehiam Fortress</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Khirbat_Jiddin" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00027</td>
                                            <td>Hunin Fortress</td>
                                            <td><a href="https://he.wikipedia.org/wiki/%D7%9E%D7%A6%D7%95%D7%93%D7%AA_%D7%94%D7%95%D7%A0%D7%99%D7%9F" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00028</td>
                                            <td>Rujum A-Naka</td>
                                            <td><a href="http://amudanan.co.il/w/index.php/P863731" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00029</td>
                                            <td>Gamla</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Gamla" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                        <tr>
                                            <td>4X-00030</td>
                                            <td>Avdat</td>
                                            <td><a href="https://en.wikipedia.org/wiki/Avdat" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/row-fluid-->

                </div>
            </div>
        </div>
        <!--<div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i5">
                        References
                    </a>
                </h4>
            </div>
            <div id="i5" class="panel-collapse collapse">
                <div class="panel-body">

                </div>
            </div>
        </div>-->

    </div>
    <!--/row-fluid-->
    <!--<div class="row hidden-sm hidden-xs" style="margin-top:20px;direction:ltr">
        <div class="col-md-6 text-center">
            <img src="assets/img/4xff.png" width="320" />
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/wca_logo.gif" width="280" />
        </div>
    </div>-->
    <div class="row" style="margin-top:20px;direction:ltr">
        <div class="col-md-3 col-sm-12">
            <div id="map_display">
                <div style="background-image:url(assets/img/israel_map.jpg); background-size: 260px; background-repeat:no-repeat; height:640px">
                    <span style="top:55px;left:124px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Acre,_Israel" alt="Acre" title="Acre">1</a></span>
                    <span style="top:176px;left:94px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Arsuf" alt="Arsuf" title="Arsuf">2</a></span>
                    <span style="top:242px;left:133px;"><a target="_blank" href="https://he.wikipedia.org/wiki/%D7%94%D7%A7%D7%A1%D7%98%D7%9C" alt="הקסטל" title="הקסטל">3</a></span>
                    <span style="top:125px;left:186px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Belvoir_Fortress" alt="Belvoir Fortress" title="Belvoir Fortress">4</a></span>
                    <span style="top:293px;left:129px;"><a target="_blank" href="https://he.wikipedia.org/wiki/%D7%91%D7%99%D7%AA_%D7%92%D7%95%D7%91%D7%A8%D7%99%D7%9F_(%D7%A2%D7%99%D7%A8_%D7%A7%D7%93%D7%95%D7%9E%D7%94)" alt="Beth Gibelin" title="Beth Gibelin">5</a></span>
                    <span style="top:140px;left:186px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Beit_She%27an" alt="Beit She'an" title="Beit She'an">6</a></span>
                    <span style="top:156px;left:104px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Burgata" alt="Burgata" title="Burgata">7</a></span>
                    <span style="top:324px;left:156px;"><a target="_blank" href="https://he.wikipedia.org/wiki/%D7%9E%D7%A6%D7%93_%D7%91%D7%95%D7%A7%D7%A7" alt="Bokek Stronghold" title="Bokek Stronghold">8</a></span>
                    <span style="top:190px;left:100px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Antipatris" alt="Antipatris" title="Antipatris">9</a></span>
                    <span style="top:131px;left:100px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Caesarea_Maritima" alt="Caesarea Maritima" title="Caesarea Maritima">10</a></span>
                    <span style="top:117px;left:107px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Cafarlet" alt="Cafarlet" title="Cafarlet">11</a></span>
                    <span style="top:203px;left:90px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Azor" alt="Casal des Plains" title="Casal des Plains">12</a></span>
                    <span style="top:48px;left:152px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Mi%27ilya" alt="Castellum Regis" title="Castellum Regis">13</a></span>
                    <span style="top:105px;left:105px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Ch%C3%A2teau_P%C3%A8lerin" alt="Castle Pilgrim" title="Castle Pilgrim">14</a></span>
                    <span style="top:230px;left:117px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Latrun" alt="Latrun" title="Latrun">15</a></span>
                    <span style="top:95px;left:112px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Le_Destroit" alt="Le Destroit" title="Le Destroit">16</a></span>
                    <span style="top:247px;left:67px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Minat_al-Qal%27a" alt="Kal'at Al Mina'" title="Kal'at Al Mina">17</a></span>
                    <span style="top:310px;left:165px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Masada" alt="Masada" title="Masada">18</a></span>
                    <span style="top:198px;left:110px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Migdal_Afek" alt="Migdal Afek" title="Migdal Afek">19</a></span>
                    <span style="top:43px;left:140px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Montfort_Castle" alt="Montfort Castle" title="Montfort Castle">20</a></span>
                    <span style="top:16px;left:206px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Nimrod_Fortress" alt="Nimrod Fortress" title="Nimrod Fortress">21</a></span>
                    <span style="top:141px;left:130px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Qaqun" alt="Qaqun" title="Qaqun">22</a></span>
                    <span style="top:245px;left:146px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Tower_of_David" alt="Tower of David" title="Tower of David">23</a></span>
                    <span style="top:90px;left:149px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Sepphoris" alt="Sepphoris" title="Sepphoris">24</a></span>
                    <span style="top:51px;left:195px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Battle_of_Jacob%27s_Ford" alt="Vadum Iacob" title="Vadum Iacob">25</a></span>
                    <span style="top:60px;left:150px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Khirbat_Jiddin" alt="Yehiam Fortress" title="Yehiam Fortress">26</a></span>
                    <span style="top:16px;left:190px;"><a target="_blank" href="https://he.wikipedia.org/wiki/%D7%9E%D7%A6%D7%95%D7%93%D7%AA_%D7%94%D7%95%D7%A0%D7%99%D7%9F" alt="Hunin Fortress" title="Hunin Fortress">27</a></span>
                    <span style="top:293px;left:160px;"><a target="_blank" href="http://amudanan.co.il/w/index.php/P863731" alt="Rujum A-Naka" title="Rujum A-Naka">28</a></span>
                    <span style="top:69px;left:210px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Gamla" alt="Gamla" title="Gamla">29</a></span>
                    <span style="top:380px;left:70px;"><a target="_blank" href="https://en.wikipedia.org/wiki/Avdat" alt="Avdat" title="Avdat">30</a></span>
                </div>
            </div>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs text-right">
            <img src="assets/img/4XCA_Logo.png" width="320" />
        </div>
        <div class="col-md-4 hidden-sm hidden-xs text-right">
            <a href="http://wcagroup.org/" target="_blank"> <img src="assets/img/wca_logo.gif" width="280" /></a>
        </div>
    </div>
</div>


