<div class="container" >
    
    <!--<h3 data-bind="visible:shell.lang() == 'he'">4XFF - פרוייקט WWFF ישראלי</h3>
    <h3 style="direction:ltr" data-bind="visible:shell.lang() == 'en'">4XFF - Israeli WWFF Program</h3>-->
    <p></p>
    <div class="panel-group acc-v1 margin-bottom-40" id="accordion">

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#background">
                        רקע
                    </a>
                </h4>
            </div>
            <div id="background" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p>תוכנית "פרס טירות העולם - WCA" היא תוכנית פרסים בינלאומית המוקדש להפעלת תחנות חובבי רדיו מטירות, מבצרים ואתרים עתיקים אחרים. התוכנית נוסדה ב 14 בינואר 2009 על ידי קבוצת חובבי רדיו מרוסיה, חברי מועדון RZ1CWC תחת חסותו של הארגון הבינלאומי "COTA – Castle On The Air".</p>
                        <p>מטרת התוכנית היא איחוד חובבי רדיו ממדינות שונות להפעלת מאתרים היסטוריים - טירות ומבצרים בכל רחבי העולם, להעלות על סדר היום את התחזוקה של מבנים היסטוריים אלה וללמוד על המורשת שקשורה בהם.</p>
                        <p>"פרס טירות העולם" כולל 11 תעודות וצלחת פרס עבור חובבי רדיו ומאזינים על קשר עם אתרים שמשתתפים בתוכנית.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#background_en">
                        About The Program
                    </a>
                </h4>
            </div>
            <div id="background_en" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The International Award program “World Castles Award – WCA” devoted to work on the air from castles, fortresses and other fortification works. It’s founded on January, 14th, 2009 by group of Russian radiohams, members of RZ1CWC Radioclub under the aegis of the International Organization “Castles On The Air – COTA”.
                    </p>
                    <p>
                        The program goal is consolidation of radiohams from different countries for activation and popularization of historical objects – castles, fortresses etc all over the world, learning and maintenance of the historical Heritage in our countries including monuments and architectural constructions relating to fortification.
                    </p>
                    <p>
                        World Castles Award program includes 11 diplomas, 1 award plate and E-Awards series for QSOs/SWLs with radiostations working from world castles, fortresses etc all over the world.
                    </p>
                    <p>
                        From the <a href="http://wcagroup.org/" target="_blank" style="text-decoration:underline">program website</a>.
                    </p>
                </div>
            </div>
        </div>


        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class=" panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i0">
                        חוקים
                    </a>
                </h4>
            </div>
            <div id="i0" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3 class="text-center">חוקי התוכנית</h3>
                        <div class="row-fluid text-right">
                            <p>מפעילים</p>
                            <ul>
                                <li>
                                    בעת פעילות מתוך איזור מוגן (שמורת טבע, פארק לאומי) שנכלל <a href="#NationalParks" style="text-decoration:underline">ברשימת אתרי 4XFF</a> על כל הציוד (אנטנות, מקמ"שים, ספקי-כח וכו\') להימצא בתוך גבולות האיזור.
                                </li>
                                <li>
                                    על המפעילים לציית לחוק ולדרישות פקחי שמורות הטבע והפארקים.
                                </li>
                                <li>כל ההפעלות במסגרת התוכנית חייבות להיות תחת מזהה 4XFF. אין להפעיל שנים או יותר מזהים בו זמנית.</li>
                                <li>
                                    כל תחומי התדר (HF,VHF,UHF) והמודים (CW,SSB,FM,DIGI) מותרים.
                                </li>
                                <li>
                                    כדי שהפעלה תיחשב תקפה לצורך קבלת תעודת "מפעיל", עליה לכלול לפחות 44 קשרים עם תחנות שונות.
                                </li>
                                <li>על כל הפעלה לארוך לפחות שעתיים.</li>
                                <li>על המפעילים לספק קובץ לוג אלקטרוני בפורמט ADIF לכתובת <a href="mailto:gilifon@gmail.com" style="text-decoration:underline">gilifon@gmail.com</a></li>
                                
                            </ul>
                            <p>ציידים</p>
                            <ul>
                                <li>
                                    כל תחומי התדר (HF,VHF,UHF) והמודים (CW,SSB,FM,DIGI) מותרים.
                                </li>
                                <li>
                                    כל קשר שהתבצע עם מפעיל תקף עבור קבלת תעודת "צייד" ללא קשר למספר הקשרים שנעשו באותה הפעלה.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i1">
                        Rules
                    </a>
                </h4>
            </div>
            <div id="i1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">

                            <h3 class="text-center">4XCA Program Rules</h3>
                            <div class="row-fluid text-left">
                                <ol>
                                    <li>
                                        International Program “World Castles Award” (WCA) has been instituted by group of the Russian radiohams, members of Radioclub RZ1CWC, founders of “Castles On The Air-Russia” (COTA-Russia) award program.
                                    </li>
                                    <li>
                                       The Purpose of the program is joining of efforts of radiohams in different countries for activation and popularization historical objects relating to fortification (fortresses, castles, forts e.t.c) and attract attention to historical and architectural heritage as well as visiting extant historical monuments all over the world .
                                    </li>
                                    <li>
                                        Fortifications are military constructions and buildings designed for defense in warfare and military bases. Humans have constructed defensive works for many thousands of years, in a variety of increasingly complex designs.<br />

                                        The term is derived from the Latin fortis (“strong”) and facere (“to make”).<br />

                                        Fortification is usually divided into two branches, namely permanent fortification and field fortification. Permanent fortifications are erected at leisure, with all the resources that a state can supply of constructive and mechanical skill, and are built of enduring materials. Field fortifications are extemporized by troops in the field, perhaps assisted by such local labor and tools as may be procurable and with materials that do not require much preparation, such as earth, brushwood and light timber, or sandbags.
                                    </li>
                                    <li>
                                        Contacts with objects of permanent fortification such as castles, fortresses, forts, fortified areas (including their parts like gate, walls, towers etc) having obviously expressed signs of preservation or anew restored are valid for WCA.<br />

                                        Contacts with anew restored objects of field fortification such as stockaded towns, fortified ancient settlement etc are valid too.
                                    </li>
                                    <li>
                                        World Castles Award Program (WCA) includes following diplomas:<br />
                                        <br />
                                        WCA 50 – for QSO/SWL with 50 any objects in the world;<br />
                                        WCA 100 – for QSO/SWL with 100 any objects in the world;<br />
                                        WCA 200 – for QSO/SWL with 200 any objects in the world;<br />
                                        WCA 300 – for QSO/SWL with 300 any objects in the world;<br />
                                        WCA 400 – for QSO/SWL with 400 any objects in the world;<br />
                                        WCA 500 – for QSO/SWL with 500 any objects in the world;<br />
                                        WCA 600 – for QSO/SWL with 600 any objects in the world;<br />
                                        WCA 700 – for QSO/SWL with 700 any objects in the world;<br />
                                        WCA 800 – for QSO/SWL with 800 any objects in the world;<br />
                                        WCA 900 – for QSO/SWL with 900 any objects in the world;<br />
                                        WCA 1000 – TOP Award – for QSO/SWL with 1000 any objects in the world.<br />
                                        The Award certificate “World Castles Activator Award – WCAA” is issued for work on the air form historical objects (activation) such as castles, fortresses, forts etc.<br />
                                        <br />
                                        WCA HONOR ROLL PLATE is issued for QSO/SWL with 1001 any objects located in any 10 countries and on any 3 continents of the world.<br />
                                        <br />
                                        E-Awards:<br />
                                        <br />
                                        WCA Hunter – for QSO/SWL for each 500 objects in the world beginning with 1500.
                                    </li>
                                    <li>
                                         For WCA 50 – WCA 900 need to have QSO/SWL with not less than 3 countries from any continents.<br />

                                        For WCA Hunter there are no limitations by number of countries and continents.
                                    </li>
                                    <li>
                                        Object activation has to take place on a distance no more than 1000 meters (1km) from the object.<br />
                                        It is permissible to activate two and more objects if they are located on a distance no more than 1000 meters (1km) from each other.<br />
                                        <br />
                                        * The exception from basic rules about distance from historical object are the criteria which were established earlier by some national award programs (9A-COTA, BCA, CASHOTA, DCE, DFCF, DCI, DCS-SSD, DMHP…etc)<br />
                                        <br />
                                        It is not necessary to notify WCA Committee about object activation.<br />
                                        WCA Committee can require necessary data (photos, videos etc) if some activation gives rise to doubt.
                                    </li>
                                    <li>
                                         For WCA activators any activated object is valid for all awards of WCA series (WCA-50, WCA-100 etc) on conditions that made not less than 50 QSO. In this case in application for the award need to mark activated objects.
                                    </li>
                                    <li>
                                        Recommended frequencies for work on the air during expeditions on fortresses and castles.<br />

                                        CW : 3.531; 7.031; 10.121; 14.031; 18.081; 21.031; 24.911; 28.031<br />

                                        SSB : 3.731; 7.131; 14.251; 18.131; 21.251; 24.951; 28.551
                                    </li>
                                    <li>
                                         On the base of S50CLX Cerkno Linux DX Cluster http://s50clx.infrax.si was created WCA cluster to inform about expeditions on fortresses and castles.
                                    </li>
                                    <li>
                                        11. WCA Committee have made a decision to institute greeting code during working from fortification objects.<br />
                                        Code “11” (“Two towers”) means “best wishes form castles and fortresses of the world”. Thanks a lot to Sergey Beresnev UR7UT (WCAG # 002) for idea.
                                    </li>
                                    <li>
                                         The new system of WCA identification numbers is constituted since November, 1st, 2009.<br />
                                        All objects (castles, fortresses, forts etc.) are identified by an alphanumeric designation. Letters indicates the country according to prefixes, for example: DL – (Germany), I – (Italy), LY – (Lithuania) etc., and next digits indicates the serial number of object. For example: DL-00001, I-00002, LY-00003 etc<br />
                                        <br />
                                        Oficial WCALIST (Excel ~ 6 Mb) is distributed by countries.<br />
                                        <br />
                                        WCA-List is not final and will be constantly updated.<br />
                                        <br />
                                        * It is permissible not to transmit superfluous zero during QSO to simplify transmission and receiving of identification numbers.<br />
                                        <br />
                                        ** Correspondence between identification numbers of national award programs (BCA, CASHOTA, CASHOTA-EI, CASHOTA-NI, CCA, COTA-9A, COTA-DL, COTA-NL, COTA-RU, COTA-UN, COTA-YL, CPBA, DCE, DCE 1.0, DCFP, DCI, DCS, DFCF, DMHP, HCS, IDES, RHO, S5-WCA, SCA, UCFA, ZWP) and WCA identification numbers is in the table WCALIST (Excel ~ 6 Mb).
                                    </li>
                                    <li>
                                         Repeated QSO are not valid. The object is valid only once regardless of bands and any kind of mode.
                                    </li>
                                    <li>
                                         The same award rules are for SWL.
                                    </li>
                                    <li>
                                         QSO/SWL are valid since January 1st. 1995 on any bands (including WARC) by any kind of modes.
                                    </li>
                                    <li>
                                         Application for diploma is based on the received QSL cards according to WCA_application_form and must be signed by two radio hams. QSL-card must have identification number according to WCA-List.<br />
                                        <br />
                                        WCA Committee recommends to use WCA_application_form to register and apply for awards<br />
                                        <br />
                                        QSL-card having object name or identification number according to national castles and fortresses award programs are valid for the diploma.<br />
                                        <br />
                                        No QSLs, only certified application is required. The award manager can require QSL for check.
                                    </li>
                                    <li>
                                         Since 1st of September 2010 begun to work WCA E-LOG which allows to check up data about made QSOs without QSL validation for all awards of WCA series and make application for awards online. Author and manager – Jiri Suchy OK 5 NN.
                                    </li>
                                    <li>
                                         The award can be issued for separate MODE (optionally).
                                    </li>
                                    <li>
                                         The application should sent to award manager.<br />

                                        By e-mail:<br />

                                        rn1cw@rambler.ru or cqrn1cw@gmail.com<br />

                                        Or by post:<br />

                                        Andrey A. Petushkov, RN1CW<br />
                                        P.O.Box 340/5, Sosnovyj Bor,<br />
                                        Leningrad oblast, 188540<br />
                                        Russia
                                    </li>
                                    <li>
                                         – Since January, 1st, 2011 the order an issue of the “World Castles Award (WCA)” and “Castles On The Air – Russia – Award (COTA-RU) will change. Awards will be issue by two means:<br />

                                        – in electronic form in JPG (free of charge);<br />
                                        – in print form.<br />
                                        <br />
                                        The fee of WCA and COTA-RU in print form will be:<br />
                                        – For Russia 200 Roubles, for the CIS countries – 7 EURO, 7 USD, 7 IRC.<br />
                                        – For the others – 10 EURO, 10 USD, 10 IRC.<br />
                                        – Fee of HONOUR ROLL please ask Award Manager at the moment of application<br />
                                    </li>
                                    <li>
                                         Award certificate “World Castles Activator Award – WCAA” and WCA – Hunter are free of charge. You can obtain it in electronic form – JPG file completely ready for printing in A4 format (297×240) will send by e-mail.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i2">
                        פרסים
                    </a>
                </h4>
            </div>
            <div id="i2" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        הפרסים יינתנו בשתי קטגוריות, "מפעילים" ו "ציידים".<br />
                        "מפעילים" הם חובבים שמפעילים את הציוד שלהם מתוך שמורות הטבע והפארקים שמשתתפים בתוכנית.<br />
                        "ציידים" הם חובבים שמבצעים קשרים או מתעדים קשרים (מאזינים) עם "מפעילים".<br />
                        כל מי שזכאי לפרס, יוכל לקבל קובץ אלקטרוני, באיכות גבוהה מאוד, להדפסה עצמית ובחינם!<br />
                        את בקשת התעודה יש להגיש דרך <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">אתר התוכנית</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i3">
                        Awards
                    </a>
                </h4>
            </div>
            <div id="i3" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>
                        The Awards are available to 'Activators' and 'Hunters'.<br />
                        'Activators' are those amateurs who operate portable from within designated NR or Parks in Israel.<br />
                        'Hunters' are those amateurs who make contact or log contact (SWL's) with 'Activators'.<br />
                        All Awards are free of charge for a self printing, super high quality PNG file.<br />
                        Certificate requests should be sent through the <a href="http://logsearch.wwff.co/index.php" target="_blank" style="text-decoration:underline">program website</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="panel panel-default" data-bind="visible:shell.lang() == 'he'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i4">
                        רפרנסים
                    </a>
                </h4>
            </div>
            <div id="i4" class="panel-collapse collapse">
                <div class="panel-body">

                    <div class="row" style="direction:ltr; margin-bottom:20px">
                        <div class="col-md-4 pull-right" style="max-width: 350px; margin-top:8px;">
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="  search-query form-control" placeholder="Search" data-bind="value: searchInput, valueUpdate: 'afterkeydown'">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">
                                            <span class="icon icon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-grey margin-bottom-40">
                                <div class="panel-heading">
                                    <span class="panel-title text-right">רשימת אתרי 4XFF</span>
                                    <!--<span class="panel-title pull-left">Echolink</span>-->
                                </div>
                                <table class="table table-striped" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="text-align: right">מזהה</th>
                                            <th style="text-align: right">שם</th>
                                            <th style="text-align: right">איזור</th>
                                            <th style="text-align: right">קישור</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>4XFF-0001</td>
                                            <td>חוף אכזיב</td>
                                            <td>
                                                חוף הגליל ועמק עכו
                                            </td>
                                            <td><a href="http://www.parks.org.il/ParksAndReserves/achziv/Pages/default.aspx" target="_blank"><i class="icon-info"></i></a></td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--/row-fluid-->


                </div>
            </div>
        </div>
        <!--<div class="panel panel-default" style="direction:ltr" data-bind="visible:shell.lang() == 'en'">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#i5">
                        References
                    </a>
                </h4>
            </div>
            <div id="i5" class="panel-collapse collapse">
                <div class="panel-body">
                    
                </div>
            </div>
        </div>-->

        
    </div>
    <!--/row-fluid-->

    <div class="row hidden-sm hidden-xs" style="margin-top:20px;direction:ltr">
        <div class="col-md-6 text-center">
            <img src="assets/img/4xff.png" width="400" />
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/img/wwff_logo.png" width="400" />
        </div>


    </div>
</div>


